<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <h2>Create Poll</h2>
    <form class="form-horizontal" role="form" ng-submit="addPoll()">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Poll Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="poll.pollName" class="form-control" id="email" placeholder="Enter Poll Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Description:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="poll.pollDescription" class="form-control" id="pwd" placeholder="Enter Description">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pic">Poll Image:</label>
            <div class="col-sm-10">
                <input ng-model="poll.pollImage" type="file" id="pic">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="submit" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>